* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: rgb(194, 170, 37);

}

.search-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.gallery {
    // display: flex;
    // flex-wrap: wrap;
    // margin-left: -15px;
    // margin-right: -15px;
    

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: calc(100vw - 80px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px; 
}

.photo-card img {
    width: 100%;
    object-fit: scale-down;
}


.load-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}