* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: rgb(180, 175, 143);

}

a {
    text-decoration: none;
}

.search-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.form_title {
    margin-bottom: 20px;
}

.gallery {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: calc(100vw - 80px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px; 
}

.photo-card {
    height: 300px;
    border: 2px;
    border-radius: 4px;
    background-color: rgb(199, 197, 186);
    box-shadow: 0 8px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    &:hover {
        transform: scale(1.1);
        transition-duration: 1;
      }
}

.photo-card img {
    width: 100%;
    object-fit: scale-down;
}



.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;
    margin-bottom: 0;
    height: 55px;
}


